body {
  font-family:'Poppins', sans-serif;
  width:1440px;
  margin:0;
}

h4{
  margin: 0;
}

header { background-color: #ffffff;
  height:110px;
  width:1440px;
}

.header_frame {
  display:flex;
  flex-direction:row;
  align-items:center;
  padding:0;
  gap:528px;
  height:72px;
  padding-left:82px;
  padding-right:80.2px;
  padding-top:18.5px;
}

.header_frame_photo {
  width: 111px;
  height: 72px;
}

.header_menus {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 30px;
  width: 638.8px;
  height: 49px;
}

.menus_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 50px;
  width: 325px;
  height: 27px;
}

.menus_menu a {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #94959A;
}

.menus_line {
  width: 31px;
  height: 0;
  border: 1.5px solid #F2F2F2;
  transform: rotate(-90deg);
}

.menus_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 30px;
  width: 254px;
  height: 49px;
}

.menus_buttons_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 77px;
  height: 49px;
  border-radius: 6px;
}
.menus_buttons_login a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #120D26;
}

.menus_buttons_signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 148px;
  height: 49px;
  background: #120D26;
  border-radius: 6px;
}

.menus_buttons_signup a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.Banner {
  width: 1440px;
  height: 660px;
  background: #FFFFFF;
  position:relative;
}

.Banner_picture {
  position: absolute;
  height: 530px;
  width:530px;
  left: 830px;
  right: 80px;
  top: 47px;
  border-radius: 12px;
}

.Banner_picture img {
  height: 530px;
  width:530px;
}

.Banner_leftside {
  position:relative;
  width: 585px;
  height: 432px;
  left: 80px;
  top: 99px;
}

.Banner_leftside_title {
  position:absolute;
  width: 550px;
  height: 180px;
  right:35px;
  bottom:252px;
}

.Banner_leftside_title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: 0.01em;
  color: #120D26;
  margin:0;
}

.Banner_leftside_text {
  position:absolute;
  width: 585px;
  height: 91px;
  top:213px;
  bottom:128px;
}

.Banner_leftside_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #94959A;
}

.Banner_button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 230px;
  height: 70px;
  top:362px;
  right:355px;
  background: #FF7058;
  border-radius: 15px;
}

.Banner_button p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.button_arrow {
  width: 24px;
  height: 24px;
} 

.Banner_leftside_free {
  position:absolute;
  width: 199px;
  height: 24px;
  top:385px;
  right:129px;
  bottom:23px;
  left:257px;
  
}

.Banner_leftside_free p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0;
  color: #FF7058;
}

.Company {
  width: 1440px;
  height: 200px;
  position:relative;
}

.Company_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 50px;
  position: absolute;
  width: 1276px;
  height: 144px;
  left: 82px;
  top: 28px;
}

.Company_title {
  width: 512px;
  height: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #94959A;
}

.Company_frame_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 137px;
  width: 1276px;
  height: 60px;
}

.Price {
  width: 1440px;
  height: 1415px;
  position: relative;
}

.Price_block {
  position: absolute;
  width: 1440px;
  height: 206px;
  left: 0;
  top: 90px;
  background: rgba(255, 112, 88, 0.05);
}

.Price_block_title {
  position: absolute;
  width: 236px;
  height: 60px;
  right: 602px;
  top: 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #120D26;
}

.Price_block_description {
  position: absolute;
width: 960px;
height: 30px;
right: 268px;
top: 123px;
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;
color: #94959A;
}

.Price_cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 46px;
  position: absolute;
  width: 1280px;
  height: 956px;
  left: 81px;
  top: 344px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 396px;
  background: #FFFFFF;
  box-shadow: 0 10px 55px rgba(241, 102, 24, 0.15);
  border-radius: 15px;
}

.card_price {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #120D26;
  text-align: center;
  padding-bottom: 22px;
}

.card_price span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #94959A;
}

.card_name {
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
color: #FF7058;
text-align: center;
padding-bottom: 22px;
}

.card_content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #94959A;
  padding-bottom: 22px;
}

.card_line {
  width: 292px;
  height: 0;
  border: 2px solid #F2F2F2;
}

.card_list {
  display: flex;
  align-items: center;
}

.card_list li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #29253C;
  margin-bottom:34px;
  position: relative;
  padding-left:40px;
}

.card_list ul {
  padding-left:0;
  list-style-type: none;
}


.card_list li::before {
  content:url(photo/Group.svg);
  position: absolute;
  left:-25px;
  top:-20px;
}

.card_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 292px;
  height: 80px;
  background: #FF7058;
  border-radius: 15px;
  margin-bottom:35px;
  color:white;
}

.Comments {
  width: 1440px;
  height: 762px;
  position: relative;
}

.Comments_title_block {
  width: 1440px;
  height: 112px;
  background: rgba(255, 112, 88, 0.05);
  position: relative;
  margin-top: 144px;
}

.title_block_text {
  position: absolute;
  width: 355px;
  height: 60px;
  left: 543px;
  top: 25px;
}

.title_block_text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #120D26;
  text-align: center;
  margin-top:0;
}

.Comments_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 41px;
  position: absolute;
  width: 1282px;
  height: 420px;
  left: 81px;
  top: 160px;
}

.comment_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  width: 400px;
  height: 420px;
  background: #FFFFFF;
  box-shadow: 0 10px 40px rgba(241, 102, 24, 0.15);
  border-radius: 15px;
}

.comment_title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #120D26;
}

.comment_description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #94959A;
}

.comment_name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #29253C;
}

.info {
  width: 1440px;
  height: 1034px;
  background: rgba(255, 112, 88, 0.05);
  position: relative;
}

.info_block {
  position: absolute;
  width: 488px;
  height: 465px;
  left:80px;
  top:190px;
}

.info_text {
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #120D26;
  width: 487px;
  height: 120px;
  margin-bottom: 23px;
}

.info_description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #94959A;
}

.info_button {
  position: absolute;
  width: 230px;
  height: 70px;
  left: 82px;
  top: 585px;
  background: #FF7058;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color:white;
}

.info_img_one {
  position: absolute;
  top:131px;
  right:449px;
}

.info_img_two {
  position:absolute;
  top:208px;
  right:80px
}

.info_img_three {
  position: absolute;
  left: 722px;
  top: 539px;
  z-index:2;
}

.info_img_four {
  position: absolute;
  left: 1030px;
  top: 595px;
}

.info_img_dots {
  position:absolute;
  left: 679px;
  top: 709px;
  z-index: 1;
}

.free {
  width: 1440px;
  height: 738px;
  background: rgba(255, 112, 88, 0.05);
  position: relative;
}

.free_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
  position: absolute;
  width: 1279px;
  height: 512px;
  right: 80px;
  top: calc(50% - 512px/2);
  background: #FF7058;
  border-radius: 25px;
}

.free_title {
  width: 861px;
  height: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.free_description {
  width: 861px;
  height: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.free_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 230px;
  height: 70px;
  background: #FFFFFF;
  border-radius: 15px;
}

footer {
  width: 1440px;
  height: 545px;
  background: #FFFFFF;
  position: relative;
}

.footer_links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 631px;
  position: absolute;
  width: 1279px;
  height: 235px;
  left: 81px;
  top: 69px;
}

.links_company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  width: 122px;
  height: 235px;
}

.links_company_title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #120D26;
}

.links_company_list {
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #FF7058;
}

.links_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  width: 129px;
  height: 190px;
  position:absolute;
  left:329px;
}

.links_contact_title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #120D26;
}

.links_conta—Åt_list {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #FF7058;
}

.links_dropdowns {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  gap: 77px;
  width: 190px;
  height: 53px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(241, 102, 24, 0.15);
  border-radius: 8px;
  position: absolute;
  right:0;
}

.footer_line {
  position: absolute;
  width: 1280px;
  height: 0;
  left: 80px;
  top: 396px;
  border: 2px solid #120D26;
}

.footer_socialmedia {
  width: 151px;
  height: 27px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #120D26;
  position: absolute;
  left:80px;
  bottom: 82px;
}

.footer_media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 26px;
  width: 174px;
  height: 24px;
  position: absolute;
  right:80px;
  bottom:83px;
}
